* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --textCol1: #aaaaaa;
}
body {
    background-color: black;
}
::-webkit-scrollbar {
    /* display: none; */
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navWrapper {
    /* border: 1px solid #ffffff; */
    padding: 5px 20px;
    justify-content: space-between;
    height: 45px;
}
.hamburger {
    display: none;
    margin-right: 5px;
    cursor: pointer;
    filter: invert(1);
}
.logo {
    margin-top: 5px;
    filter: invert(1);
}
.navWrapper .signup {
    color: var(--textCol1);
    font-weight: bold;
    font-size: small;
    margin-right: 15px;
    transition: all .2s ease;
    cursor: pointer;
    /* border: 1px solid red; */
    padding: 8px 16px;
    border-radius: 20px;
}
.navWrapper .signup:hover {
    color: white;
}
.navWrapper .login {
    background-color: white;
    transition: all .2s ease;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
}
.navWrapper .login:hover {
    padding: 10px 18px;
    font-weight: bolder;
}
.mainContWrapper {
    width: 100vw;
}
.left,
.right {
    /* border: 1px solid #fff; */
    height: calc(100vh - 120px);
    background-color: #121212;
    width: 25vw;
    margin: 5px;
    border-radius: 10px;
    padding: 10px 15px;
    transition: all .25s ease;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: auto;
    margin-right: 3px;
}
.right {
    margin-left: 3px;
    width: 75vw;
    overflow: auto;
    text-align: justify;
}
.left img {
    height: 20px;
    filter: invert(.7);
}
.left .YourLiabrary {
    font-size: small;
    font-weight: bold;
    filter: invert(.3);
}
.left .LiabraryWrapper {
    justify-content: space-between;
    gap: 7px;
    padding: 5px;
}
.left .left-LiabraryWrapper {
    gap: 7px;
    padding: 5px;
}
.left .right-LiabraryWrapper {
    gap: 20px;
    padding: 5px;

}
.left .playlist-add-btn,
.left .expand-btn {
    height: 15px;
}
.left .playlist-capsule {
    display: inline-block;
    background-color: #2a2a2a;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 18px;
    margin: 10px 0;
}
.left-bottom {
    margin-bottom: 15px;
}
.left-bottom-links {
    margin-bottom: 10px;
}
.left-bottom-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--textCol1);
    margin: 9px;
    font-size: 12px;
}
.cookies a {
    display: inline-block;
    text-decoration: none;
    margin: 0 0 20px 10px;
    font-size: small;
}
.internet_svg {
    gap: 5px;
    justify-content: flex-start;
    margin-left: 10px;
}
.internet_svg img {
    filter: invert(1);
}
.right h1 {
    font-size: x-large;
}
.cards {
    margin: 10px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    display: inline-block;
    /* border: 1px solid red; */
    width: 190px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: all .25s ease;
}
.card:hover {
    background-color: #2a2a2a;
}
.card:hover .playlist-playbutton {
    opacity: 1;
}
.cover-wrapper {
    position: relative;
    background-color: #444;
    width: 170px;
    height: 170px;
    border-radius: inherit;
    /* border: 1px solid red; */
    overflow: hidden;
    align-items: center;
}
.cover-wrapper .playlist-playbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #3be477;
    padding: 12px;
    border-radius: 100px;
    opacity: 0;
    transition: all .25s ease-out;
    cursor: pointer;
}
.cover-wrapper .Playlist-img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
.playlist-description {
    color: var(--textCol1);
    font-size: small;
}
.playbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 10px;
    justify-content: space-between;
    background-color: black;
    /* border: 1px solid blueviolet; */
}
.song-info-box {
    width: 240px;
    justify-content: flex-start;
}
.song-info-box img {
    width: 50px;
    border-radius: 7px;
}
.song-info-box .song-title {
    font-size: small;
    font-weight: bold;
    margin: 2px 10px;
    /* border: 1px solid red; */
    max-width: 170px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
}
.song-info-box .song-desc {
    font-size: small;
    margin: 2px 10px;
    max-width: 170px;
    color: var(--textCol1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.playbar-songCover,
.song-title,
.song-desc {
    transition: all 1s ease-in-out;
}
.playBtns>* {
    padding: 5px;
}
.playBtns {
    position: relative;
    gap: 15px;
    /* border: 1px solid white; */
}
.CurrentTime {
    position: absolute;
    bottom: -8px;
    left: 10px;
    color: var(--textCol1);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.CurrentTime:hover {
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: none;
}
.Duration {
    position: absolute;
    bottom: -8px;
    right: 10px;
    font-size: 14px;
    color: var(--textCol1);
    transition: all 0.2s ease-in-out;
}
.Duration:hover {
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: none;
}
.PPbtn {
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    cursor: pointer;
}
#prevsongBtn,
#nextsongBtn {
    cursor: pointer;
    filter: invert(.6);
}
.seekbar .bar {
    /* border: 1px solid red; */
    position: relative;
    margin: 5px;
    height: 15px;
    width: 45vw;
    padding: 2px;
    border-radius: 10px;
    background-color: #2a2a2a;
    cursor: pointer;
}
.seekbar .bar .circle {
    position: absolute;
    height: 11px;
    width: 50%;
    border-radius: 10px;
    background-color: var(--textCol1);
    transition: all .25s ease-in-out;
}
.seekbar2 {
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    padding: 0 5px;
    width: 100%;
    /* border: 1px solid red; */
}
.seekbar2 .bar2 {
    margin: 0px;
    width: 100%;
    height: 5px;
    padding: 0;
    border-radius: 10px;
    background-color: #2a2a2a;
    cursor: pointer;
}
.seekbar2 .bar2:hover .circle2 {
    height: 5px;
}
.seekbar2 .bar2 .circle2 {
    height: 5px;
    width: 50%;
    border-radius: 10px;
    background-color: var(--textCol1);
    transition: all .25s ease-in-out;
}
.volume-bar {
    position: relative;
    width: 240px;
    height: 100%;
    border-radius: 10px;
    /* border: 1px solid #fff; */
}
.volume-icon{
    width: 22px;
    cursor: pointer;
}
.volcover {
    gap: 5px;
}
.volume-bar input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 140px;
    height: 5px;
    background-color: #2a2a2a;
    border-radius: 3px;
}
.volume-bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaaaaa;
    cursor: pointer;
}
.volume-bar input[type="range"]::-moz-range-thumb {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #aaaaaa;
    cursor: pointer;
}



@media only screen and (max-width:853px) {
    .right {
        width: 100vw;
    }
    .left {
        position: absolute;
        z-index: 2;
        left: -100%;
        transition: all .5s ease;
        /* left: -100%; */
        /* left: 0; */
        width: 40vw;
        /* border: 1px solid red; */

    }
    .card .playlist-playbutton {
        opacity: 1;
    }
    .hamburger {
        display: inline-block;

    }
}

@media only screen and (max-width:500px) {
    .navWrapper .signup {
        display: none;
    }
    .seekbar {
        display: none;
    }
    .seekbar2 {
        display: inline-block;
    }
    .left {
        width: 98vw;
    }
    .card {
        width: 40vw;
    }
    .cover-wrapper {
        width: 35vw;
        height: 35vw;
    }
    .playBtns {
        position: unset;
    }
    .CurrentTime {
        opacity: 0;
        bottom: unset;
        left: unset;
        top: 20px;
        right: 55px;
        transition: all .25s ease-in-out;
    }
    .Duration {
        opacity: 0;
        top: 20px;
        right: 10px;
        bottom: unset;
        transition: all .25s ease-in-out;
    }
    .Duration::before {
        content: '/';
        margin-right: 3px;   
    }
    .volume-bar{
        visibility: hidden;
    }
    .volcover {
        position: absolute;
        bottom: 3px;
        right: 3px;
    }
    .volume-bar input[type="range"] {
        width: 80px;
    }
}

@media only screen and (max-width:320px) {
    .card {
        width: 35vw;
    }
    .cover-wrapper {
        width: 30vw;
        height: 30vw;
    }
}